@import "tailwindcss";

/* @layer base {
   h1 {
    @apply text-blue-500 text-4xl text-center underline mb-15;
  }
} */
body {
  scroll-behavior: smooth;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out;
  }
}

@keyframes badge {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@layer utilities {
  .animate-marquee {
    animation: marquee 25s linear infinite;
  }
}
@layer utilities {
  .animate-badge {
    animation: badge 0.4s ease-in-out;
  }
}
