@import "tailwindcss";

/* @layer base {
   h1 {
    @apply text-blue-500 text-4xl text-center underline mb-15;
  }
} */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
 @layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out;
  }
 }
